<aside class="sidebar">
  <!--<div class="container sidebar-sticky">-->
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }} missing site.params.description {{end}}
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

		<div class="sidebar-copyright">
			<p>{{ with .Site.Params.copyright }}{{.}}{{ else }} missing copyright {{end}}</p>
		</div>
  </div>
</aside>
