<aside class="sidebar">
  <!--<div class="container sidebar-sticky">-->
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <!--<p class="lead">-->
      <!--{{ with .Site.Params.sidebarDescription }} {{.}} {{ else }} missing .Site.Params.sidebarDescription {{end}}-->
      <!--</p>-->
    </div>

    <nav>
      <ul class="sidebar-nav">
        <!--<li><a href="{{ .Site.BaseURL }}">Home</a> </li>-->
        <!--{{ range .Site.Menus.main -}}-->
        <!--  <li><a href="{{.URL}}" target="_blank"> {{ .Name }} </a></li>-->
        <!--{{- end }}-->
				<!-- open external links in new tab ; internal ones in same tab -->
				{{ with .Site.Menus.main}}
          {{ range sort . }}
          {{ $url := urls.Parse .URL }}
          {{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
            <li class="navigation-item">
              <a class="navigation-link" href="{{ .URL | relLangURL}}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}>{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>

		<div class="sidebar-copyright">
			<p>{{ with .Site.Params.copyright }}{{.}}{{ else }} missing copyright {{end}}</p>
		</div>
  </div>
</aside>
